
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ubrainians</title>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/App/myApp.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <div>
        
        <div class="Text">
            <div class="btns">
                <button type="submit" id="save">Save</button>
                <button type="submit" id="up">Up</button>
                <button type="submit" id="down">Down</button>
                <button type="submit" id="delete">Delete</button>
            </div><br>
            <div class="list">
                <ul id="txthere">
                
                </ul>
            </div><br>

            <textarea rows="4" cols="50" type="text" id="txt" placeholder="Enter text here"></textarea><br>
            <button type="submit" id="submit">Add</button>
        </div>
       </div>
</body>
</html>
